<?xml version="1.0" encoding="UTF-8"?>
<Configuration  monitorInterval="1">

	<Appenders>
		<Console name="abc123" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%threadId] %-5level %logger - %m%n" />
		</Console>
     <File name="MyFile" fileName="logs/app.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="abc123" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
	
</Configuration>